body {
    font-family: 'Afacad'; font-size: 22px;
    background-color:black;
    color:white;
    width: auto;
}
#navbar {
  background-color: #619283; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#navbar li{
  float: left;
}
a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
  background-color: #0b4733;
}

header {
    text-align: center; 
}

#image-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   
}
/*height added in css so it will apply to all images*/
img {
  height: 250px;
  border: 5px solid white;
  margin: 10px;
  transition: all 1s;
}
img:hover {
  transform: scale(1.1);
}
h2 span {
  text-transform: uppercase;
}
main {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  border: 5px solid white;
  background-color: #619283;
  
}
section {
  padding: 10px;
}

.timeline {
  text-align: left;
}
.page-footer {
  background-color: #619283; 
  color: white;
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
  padding: 3px 0;
  font-size: 0.8em;
}